@gray: #919191;
@white: #ffffff;
@yellow: #fbffe0;
@green: #a1fc9f;
@red: #ff9494;
@black: #000000;

.margenes (@top, @bottom, @fondo){
    margin-top: @top;
    margin-bottom: @bottom;
    background-color: @fondo;
}

.padding (@top, @right){
    padding-top: @top;
    padding-right: @right;
}

.jumbotron {
    background-image: url(../images/background-tienda.jpg);
    color: white;
    .margenes(50px, 10px, @black);
}

footer {
    padding: 10px 10px 0 10px;
    .margenes(10px, 0px, @gray);
}

.card-hotel {
    flex: 1 300px;
    padding: 2px 5px 2px 5px;
    .margenes(15px, 0px, @yellow);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.a-footer {
    color: white;
}

.footer-address-icon {
    .padding(0px, 10px);
}

.tab-content {
    .padding(10px, 0px);
}