body {
  background-color: #dedede; }
  body .multi-collapse {
    background-color: #fbffe0;
    border-style: solid; }

.jumbotron {
  margin-top: 50px;
  margin-bottom: 10px;
  background-color: #000000;
  color: #ffffff;
  background-image: url(../images/background-tienda.jpg); }

.card-hotel {
  flex: 1 300px;
  padding: 2px 5px 2px 5px;
  margin-top: 15px;
  margin-bottom: 0px;
  background-color: #ffffff; }
  .card-hotel .btn-reserva {
    width: 100%;
    border-radius: 0px; }

footer {
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #000000;
  color: white; }
  footer .a-footer {
    color: #ffffff; }
  footer .footer-address-icon {
    padding-top: 0px;
    padding-right: 10px; }

.tab-content {
  padding-top: 10px;
  padding-right: 0px; }
