$gray: #dedede;
$white: #ffffff;
$amarillo: #fbffe0;
$verde: #FFFFCC;
$rojo: #ff9494;
$black: #000000;

@mixin margenes ($top, $bottom, $fondo) {
    margin-top: $top;
    margin-bottom: $bottom;
    background-color: $fondo;
}

@mixin padding ($top, $right) {
    padding-top: $top;
    padding-right: $right;
}

body {
    background-color: $gray;
    .multi-collapse {
        background-color: $amarillo;
        border-style: solid;
    }
}

.jumbotron {
    @include margenes(50px, 10px, $black);
    color: $white;
    background-image: url(../images/background-tienda.jpg);
}

.card-hotel {
    flex: 1 300px;
    padding: 2px 5px 2px 5px;
    @include margenes(15px, 0px, $white);
    .btn-reserva {
        width: 100%;
        border-radius: 0px;
    }
}

footer {
    padding: 10px 10px 0 10px;
    @include margenes(10px, 0px, $black);
    color: white;
    .a-footer{
        color: $white;
    }
    .footer-address-icon {
        @include padding(0px, 10px);
    }
}

.tab-content {
    @include padding(10px, 0px);
}
