.jumbotron {
  background-image: url(../images/background-tienda.jpg);
  color: white;
  margin-top: 50px;
  margin-bottom: 10px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: gray;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 300px;
  padding: 2px 5px 2px 5px;
  margin-top: 15px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.a-footer {
  color: white;
}
.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
  padding-right: 0px;
}
