<div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="compara" role="tabpanel" aria-labelledby="compara-tab">        
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <th>Satisfacción</th>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Ubicación</th>
                    <th>Ciudad</th>
                    <th>Envio express</th>
                    <th>Visacuotas</th>
                    <th>Estado de la tienda</th>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="oi oi-star"></span><span class="oi oi-star"></span><span class="oi oi-star"></span>
                        </td>
                        <td>Tienda la Esquina</td>
                        <td>Consumo diario</td>
                        <td>Barrio la bendición</td>
                        <td>Sololá</td>
                        <td><span class="oi oi-ban"></span></td>
                        <td><span class="oi oi-ban"></span></td>
                        <td><span class="oi oi-check"></span></td>
                    </tr>
                    <tr>
                        <td><span class="oi oi-star"><span class="oi oi-star"></span><span class="oi oi-star"></span><span
                                    class="oi oi-star"></span></td>
                        <td>Sandras Store</td>
                        <td>Abarroterias</td>
                        <td>Avenida Principal</td>
                        <td>Panajachel</td>
                        <td><span class="oi oi-check"></span></td>
                        <td><span class="oi oi-check"></span></td>
                        <td><span class="oi oi-check"></span></td>
                    </tr>
                    <tr>
                        <td><span class="oi oi-star"></span><span class="oi oi-star"></span><span class="oi oi-star"></span>
                        </td>
                        <td>Tienda la Esquina</td>
                        <td>Consumo diario</td>
                        <td>Barrio la bendición</td>
                        <td>Sololá</td>
                        <td><span class="oi oi-ban"></span></td>
                        <td><span class="oi oi-ban"></span></td>
                        <td><span class="oi oi-check"></span></td>
                    </tr>
                    <tr>
                        <td><span class="oi oi-star"><span class="oi oi-star"></span><span class="oi oi-star"></span><span
                                    class="oi oi-star"></span></td>
                        <td>Sandras Store</td>
                        <td>Abarroterias</td>
                        <td>Avenida Principal</td>
                        <td>Panajachel</td>
                        <td><span class="oi oi-check"></span></td>
                        <td><span class="oi oi-check"></span></td>
                        <td><span class="oi oi-check"></span></td>
                    </tr>
                    <tr>
                        <td><span class="oi oi-star"></span><span class="oi oi-star"></span><span class="oi oi-star"></span>
                        </td>
                        <td>Tienda la Esquina</td>
                        <td>Consumo diario</td>
                        <td>Barrio la bendición</td>
                        <td>Sololá</td>
                        <td><span class="oi oi-ban"></span></td>
                        <td><span class="oi oi-ban"></span></td>
                        <td><span class="oi oi-check"></span></td>
                    </tr>
                    <tr>
                        <td><span class="oi oi-star"><span class="oi oi-star"></span><span class="oi oi-star"></span><span
                                    class="oi oi-star"></span></td>
                        <td>Sandras Store</td>
                        <td>Abarroterias</td>
                        <td>Avenida Principal</td>
                        <td>Panajachel</td>
                        <td><span class="oi oi-check"></span></td>
                        <td><span class="oi oi-check"></span></td>
                        <td><span class="oi oi-check"></span></td>
                    </tr>
                    <tr>
                        <td><span class="oi oi-star"></span><span class="oi oi-star"></span><span class="oi oi-star"></span>
                        </td>
                        <td>Tienda la Esquina</td>
                        <td>Consumo diario</td>
                        <td>Barrio la bendición</td>
                        <td>Sololá</td>
                        <td><span class="oi oi-ban"></span></td>
                        <td><span class="oi oi-ban"></span></td>
                        <td><span class="oi oi-check"></span></td>
                    </tr>
                    <tr>
                        <td><span class="oi oi-star"><span class="oi oi-star"></span><span class="oi oi-star"></span><span
                                    class="oi oi-star"></span></td>
                        <td>Sandras Store</td>
                        <td>Abarroterias</td>
                        <td>Avenida Principal</td>
                        <td>Panajachel</td>
                        <td><span class="oi oi-check"></span></td>
                        <td><span class="oi oi-check"></span></td>
                        <td><span class="oi oi-check"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>